<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Machine Learning Sentiment Analysis App with Flask
		</div>	
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('plot')}}" method="POST">
		
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>
