{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}  
  <div class="container-md">    
      <div class="row">
        <div id='chart' class='chart'”></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
          var graphs = {{graphJSON | safe}};
          Plotly.plot('chart',graphs,{});
        </script>
        <div id='chart' class='chart'”></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
          var graphs = {{graphJSON | safe}};
          Plotly.plot('chart',graphs,{});
        </script>
      </div>                 
  </div>  
{% endblock %}
