<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Sensitive Analysis Result
		</div>		
		
	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Plot for audio</b></p>
	<div class="results">


	
	</div>
	
	<a href="..">
	<input type="submit" value="Go Back..">
	</a>

</body>
</html>
